{% extends 'main/base.html' %}

{% load static %}

{% block static-files %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/edit.css' %}">
{% endblock static-files %}

{% block content %}
<div class="profile-main">
    {% include 'profile/navigator.html' %}
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            Username: {{ form.username }}
            Email: {{ form.email}}
            <button type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock content %}