.form-container {
  padding: 3rem;
}

.form-container {
  margin: auto;
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
  background-color: #3e8e41;
}


.profile-main input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background: #DCDCDC;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
  transition: border-color 0.2s ease-in-out;
}

.form-container ul.errorlist {
  list-style: none;
  margin: 0;
  padding: 0;
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-container ul.errorlist li {
  margin-bottom: 5px;
}