{% extends 'main/base.html' %}
{% load static %}

{% block static-files %}
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock static-files %}

{% block content %}
<div class="entry-text">
    "HAPPY PET is the largest retail chain <br> of pet stores
</div>
<div class="entry">
    <div class="entry-block">
        <div class="entry-info">
            <h1>With love for pets</h1>
            <p>For more than 25 years, we have been taking <br>
                care of pets' full lives so that their lives <br>
                are healthy, long, joyful and harmonious. <br>
                It is our duty to create the best offer <br>
                by supporting you and your pets.</p>
        </div>
        <div class="entry-pic">
            <img src="{% static 'main/img/about/entry-pic.png' %}">
        </div>
    </div>
</div>
<div class="middle-text">
    Convenient service
</div>

<div class="cards">
    <div class="card">
        <div class="card-title">
            <img class="card-img" src="{% static 'main/img/about/card-1.png' %}" style="width:40px; height:40px;">
            <h1>QUICK ORDER<br>
            WITHOUT REGISTRATION</h1>
        </div>
        <div class="card-desc">
            <p>Place your order wherever and whenever
                it is convenient for you. You no longer
                need to waste time going through all
                the steps in the кошику. Repeating
                an order has become even easier with
                the Subscription to Delivery service!</p>
            <button type="btn" class="btn" style="width:85%; height:40px;">Order ></button>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <img src="{% static 'main/img/about/card-2.png' %}" style="width:40px; height:40px;">
            <h1>FAST DELIVERY <br>
                HOME OR OFFICE</h1>
        </div>
                <div class="card-desc">
            <p>Convenient delivery terms will allow
                you to receive your order at the right
                time and place. Choose products and
                we will deliver them for free today.
                How do I get free shipping?</p>
            <button type="btn" class="btn" style="width:85%; height:40px;">Find out the conditions ></button>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <img src="{% static 'main/img/about/card-3.png' %}" style="width:40px; height:40px;">
            <h1>PICKUP FROM ANY <br> STORE</h1>
        </div>
                <div class="card-desc">
            <p>Choose products on the website or
                in the app and pick them up at your
                convenience at any of the Four Paws
                stores. In 30 minutes, the collected
                and packed order will be waiting for
                you in the store.</p>
            <button type="button" class="btn" style="width:85%; height:40px;">Pick up your order ></button>
        </div>
    </div>
</div>

<div class="under-middle">
    <div class="bonus">
        <img src="{% static 'main/img/about/bonus-pic-1.png' %}">
        <h6>100 <br> BONUS</h6>
        <img class="equal" src="{% static 'main/img/about/bonus-equals.png' %}" style="width:50px; height:40px;">
        <img class="euro" src="{% static 'main/img/about/bonus-pic-2.png' %}" style="width:226px; height:226px; ">
        <h5>Bonuses for every purchase!</h5>
    </div>
    <div class="bonus-desc">
        The bonus program will allow all caring owners to get <br>
        additional benefits for caring for their pet. Make orders, <br>
        accumulate bonuses, and pay up to 90% of your next purchase.
    </div>
</div>
{% endblock content %}
