{% extends 'main/base.html' %}

{% load static %}

{% block static-files %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/how_buy.css' %}">
{% endblock static-files %}

{% block content %}
<div class="header">
    <div class="header-title">
       <h1>Checkout</h1>
    </div>
    <div class="header-info">
        You can use any of the proposed ordering methods. <br>
        It is important for us that every customer feels comfortable and convenient when making purchases.
    </div>
</div>
<div class="blocks">
    <div class="first-block">
        <div class="first-block-info">
            <h1>On the website</h1>
            <ul>
                <li>Convenient features of the site.</li>
                <li>1. Search using filters.</li>
                <li>2. One-click ordering.</li>
                <li>3. Possibility to subscribe to delivery.</li>
                <li>4. Search by brand or pet.</li>
            </ul>
        </div>
        <div class="first-block-pic">
            <img src="{% static 'main/img/how_buy/first-block.png' %}">
        </div>
    </div>
    <div class="second-block">
        <div class="second-block-pic">
            <img src="{% static 'main/img/how_buy/second-block.png' %}">
        </div>
        <div class="second-block-info">
            <h1>By phone</h1>
            <ul>
                <li>1. Quick order by phone.</li>
                <li>2. Assistance in selecting the right product.</li>
                <li>3. The operator will place the order for you.</li>
                <li>4. Placing an order in a few minutes.</li>
            </ul>
        </div>
    </div>
</div>
<div class="middle-cards">
    <div class="card">
        <img src="{% static 'main/img/how_buy/card-1.png' %}" style="width:110px; height:110px;">
        <p>1. Put your favorite <br> product to the cart</p>
    </div>
    <div class="card">
        <img src="{% static 'main/img/how_buy/card-2.png' %}" style="width:170px; height:110px;">
        <p>2. Choose yours and we <br> will offer delivery methods</p>
    </div>
    <div class="card">
        <img src="{% static 'main/img/how_buy/card-3.png' %}" style="width:110px; height:110px;">
        <p>3. Choose a convenient <br> payment method</p>
    </div>
    <div class="card">
        <img src="{% static 'main/img/how_buy/card-4.png' %}" style="width:150px; height:110px;">
        <p>4. Receive the goods <br> in the way you choose</p>
    </div>
</div>

<div class="under-middle">
    <div class="under-middle-title">
        <h1>How to receive an order?</h1>
    </div>
    <div class="under-middle-pic">
        <img src="{% static 'main/img/how_buy/under-middle-pic-1.png' %}" alt="">
        <img src="{% static 'main/img/how_buy/under-middle-pic-2.png' %}" alt="">
        <img src="{% static 'main/img/how_buy/under-middle-pic-3.png' %}" alt="">

    </div>
</div>
{% endblock content %}